body {
    background-color: rgba(106,93,178,0.29);
}
h1 {
    background-color: rgba(90,74,177,0.72);
    color: #ffffff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h2 {
    background-color: rgba(90,74,177,0.47 );
    color: white;
    padding-left: 5px;
    border-radius: 10px;
}
a {
    color:rgba(90,74,177,0.88 );
    text-decoration: none;
    transition: all 0.4s;
}
a:hover {
    color: rgb(240, 33, 33);
}
.container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
}
.logo {
display: flex;
justify-content: center;
}
footer{
    border-top: 2px solid rgba(90,74,177,0.72);
    padding-top: 10px;
}
.link{
    margin-left: 35px;
}
.img {
display: block;
    width: 100px;
    height: 100px;

}
